.question-container {
  display: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Luckiest Guy", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
}

@font-face {
  font-family: "Monoton", cursive;
  src: url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
}

:root {
  --black1: #000;
  --white1: #ffff;
  --blue1: #0dd0eb;
  --grey1: #5c6664;
  --yellow1: #ddff0a;
  --grey2: #d9d9d9;
}
body {
  background-color: var(--blue1);
}
h1 {
  color: var(--yellow1);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Monoton";
  font-weight: 300;
  font-size: 3.2rem;
}

h2 {
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Luckiest Guy";
  padding: 40px 0 5px 0;
}
.titreDeux {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#tonPseudo{
  color: #d9d9d9;
  font-family: "Luckiest Guy";
  font-size: 2rem;
  text-align: center;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.selecteur {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* .City{
  display: flex ;
  align-items: center;
  justify-content: center;
} */
p {
  font-family: "Luckiest Guy", sans-serif;
}

footer {
  margin-top: 10rem;
  /*position: fixed;*/
  width: 100%;
  bottom: 0;
  color: white;
  font-family: "Luckiest Guy";
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

#start {
  width: 60%;
  background-color: #5c6664;
  height: 40px;
  border-radius: 10px;
  margin-top: 50px;
  font-family: "Luckiest Guy";
  color: #d9d9d9;
  font-size: 1.5rem;
  letter-spacing: 3px;
}

#start:hover {
  color: #ddff0a;
}

.question-container {
  padding-top: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  width: 109%;
}

.rep {
  height: 35px;
  width: 44%;
  margin: 5px;
}
p {
  color: #d9d9d9;
}
.container > input {
  background-color: #000;
  color: #d9d9d9;
  border: solid 1px white;
  border-radius: 15px;
  font-family: "Luckiest Guy";
  font-size: 1rem;
}


#note{
  display: none;
}

#buttonNote{
  display: none;
}

.noteQuizz{
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coordonnées{
  margin-top: 6rem;
  display: none;
}
@media screen and (min-width: 391px) {
 
}